@media (max-width: 480px){
	.left{
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 768px){
	.left{

	}
}

@media (min-width: 769px){
	.left{

	}
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	float: left;
}
.col-md-1{,
	width: 8.3%;
	margin-left: 1vw;
}
.col-md-2{
	width: 16.6%;
	margin-left: 1vw;
}
.col-md-3{
	width: 24.9%;
	margin-left: 1vw;
}
.col-md-4{
	width: 33.2%;
	margin-left: 1vw;
	font-size: 0.9rem;
}
.col-md-5{
	width: 41.5%;
	margin-left: 1vw;
	font-size: 0.9rem;
}
.col-md-6{
	width: 49.8%;
}
.col-md-7{
	width: 58.1%;
}
.col-md-8{
	width: 66.4%;
}
.col-md-9{
	width: 74.7%;
}
.col-md-10{
	width: 83%;
}
.col-md-11{
	width: 91.3%;
}
.col-md-12{
	width: 99.6%;
}


body {
	background: white;
	font-size: 30px;
}

.container {
	background: rgba(190,180,150,0.8);
	width: 82vw;
	height: 30vh;
	float: left;
	border-radius: 6px;
	}

	p {
		width: 40vw;
		font-size: 0.9rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h4{
		color: rgba(210,180,150,1);
		width: 40vw;
		font-size: 1.3rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h6{
		width: 90vw;
		font-size: 1rem;
		margin-left: 7.5vw;
		margin-right: 5vw;
		margin-top: 4px;
		float: left;
	}

	span{
		font-weight: bold;
	}
.mini-container {
	background-color: white;
	width: 80vw;
	height: 25vh;
	border-radius: 6px;
	float: left;
	margin: 15px;
}

.img-responsive{
	max-width: 82vw;
}