.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	float: left;
}
@media (min-width: 481px) and (max-width: 768px){
.col-md-1{
	width: 8.3%;
	margin-left: 1vw;
}
.col-md-offset-1{
	margin-left: 8.3%;
}
.col-md-2{
	width: 16.6%;
	margin-left: 1vw;
}
.col-md-offset-2{
	margin-left: 16.6%;
}
.col-md-3{
	width: 24.9%;
	margin-left: 1vw;
}
.col-md-offset-3{
	margin-left: 24.9%;
}
.col-md-4{
	width: 33.2%;
	margin-left: 1vw;
	font-size: 0.9rem;
}
.col-md-offset-4{
	margin-left: 33.2%;
}
.col-md-5{
	width: 41.5%;
	margin-left: 0vw;
	font-size: 0.9rem;
}
.col-md-offset-5{
	margin-left: 41.5%;
}
.col-md-6{
	width: 49.8%;
}
.col-md-offset-6{
	margin-left: 49.8%;
}
.col-md-7{
	width: 58.1%;
}
.col-md-offset-7{
	margin-left: 58.1%;
}
.col-md-8{
	width: 66.4%;
}
.col-md-offset-8{
	margin-left: 66.4%;
}
.col-md-9{
	width: 74.7%;
}
.col-md-offset-9{
	margin-left: 74.7%;
}
.col-md-10{
	width: 83%;
}
.col-md-offset-10{
	margin-left: 83%;
}
.col-md-11{
	width: 91.3%;
}
.col-md-offset-11{
	margin-left: 91.3%;
}
.col-md-12{
	width: 99.6%;
}
.col-md-offset-12{
	margin-left: 99.6%;
	}
}

@media (max-width: 480px){

 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	float: left}

.col-sm-1{
	width: 8.3%;
	margin-left: 1vw;
}
.col-sm-offset-1{
	margin-left: 8.3%;
}
.col-sm-2{
	width: 16.6%;
	margin-left: 1vw;
}
.col-sm-offset-2{
	margin-left: 16.6%;
}
.col-sm-3{
	width: 24.9%;
	margin-left: 1vw;
}
.col-sm-offset-3{
	margin-left: 24.9%;
}
.col-sm-4{
	width: 33.2%;
	margin-left: 1vw;
	font-size: 0.9rem;
}
.col-sm-offset-4{
	margin-left: 33.2%;
}
.col-sm-5{
	width: 41.5%;
	margin-left: 1vw;
	font-size: 0.7rem;
}
.col-sm-offset-5{
	margin-left: 41.5%;
}
.col-sm-6{
	width: 49.8%;
}
.col-sm-offset-6{
	margin-left: 49.8%;
}
.col-sm-7{
	width: 58.1%;
}
.col-sm-offset-7{
	margin-left: 58.1%;
}
.col-sm-8{
	width: 66.4%;
}
.col-sm-offset-8{
	margin-left: 66.4%;
}
.col-sm-9{
	width: 74.7%;
}
.col-sm-offset-9{
	margin-left: 74.7%;
}
.col-sm-10{
	width: 83%;
}
.col-sm-offset-10{
	margin-left: 83%;
}
.col-sm-11{
	width: 91.3%;
}
.col-sm-offset-11{
	margin-left: 91.3%;
}
.col-sm-12{
	width: 99.6%;
}
.col-sm-offset-12{
	margin-left: 99.6%;
	}
}

@media (min-width: 769px){
	.left{

	}
}

body {
	background: white;
	font-size: 30px;
}

.container {
	background: rgba(190,180,150,0.8);
	width: 82vw;
	height: 30vh;
	float: left;
	border-radius: 6px;
	}

	p {
		width: 40vw;
		font-size: 0.9rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h4{
		color: rgba(210,180,150,1);
		width: 40vw;
		font-size: 1.3rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h6{
		width: 82vw;
		font-size: 1rem;
		margin-left: 7.5vw;
		margin-right: 5vw;
		margin-top: 4px;
		float: left;
	}

	span{
		font-weight: bold;
	}
.mini-container {
	background-color: white;
	width: 80vw;
	height: 25vh;
	border-radius: 6px;
	float: left;
	margin: 15px;
}

.img-responsive{
	max-width: 82vw;
}

.img-responsive2{
	max-width: 38vw;
}