@media (max-width: 480px){
	.left{
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 768px){
	.left{

	}
}

@media (min-width: 769px){
	.left{

	}
}

body {
	background: white;
	font-size: 30px;
}

.container {
	background: rgba(190,180,150,0.8);
	width: 98vw;
	height: 30vh;
	float: left;
	border-radius: 6px;
	}

	p {
		width: 40vw;
		font-size: 0.9rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h4{
		color: rgba(210,180,150,1);
		width: 40vw;
		font-size: 1.3rem;
		margin-left: 100px;
		margin-top: 4px;
		float: left;
	}

	h6{
		width: 90vw;
		font-size: 1rem;
		margin-left: 7.5vw;
		margin-right: 5vw;
		margin-top: 4px;
		float: left;
	}

	span{
		font-weight: bold;
	}
.mini-container {
	background-color: white;
	width: 96vw;
	height: 25vh;
	border-radius: 6px;
	float: left;
	margin: 15px;
}

.img-responsive{
	max-width: 82vw;
}